<div class="modal-header">
    <h3 class="modal-title">Import data from Twitter <i class="fa fa-twitter"></i></h3>
</div>
<div class="modal-body">
    <span>Import most recent tweets from Twitter which match the keywords and are close to the selected point in the map.</span>
    <br/><br/>
    <div class="row">
        <div class="col-xs-4 as-label">Search:</div>
        <div class="col-xs-8">
            <div class="btn-group btn-group-sm btn-group-justified">
                <a class="btn btn-default" ng-model="searchType" uib-btn-radio="'hashtag'">Hashtags</a>
                <a class="btn btn-default" ng-model="searchType" uib-btn-radio="'user'">Users</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">Keywords / Username:</div>
        <div class="col-xs-8"><input class="form-control input-sm" ng-model="twText"/></div>
    </div>
    <div class="row">
        <div class="col-xs-4">Secret key:</div>
        <div class="col-xs-8"><input class="form-control input-sm" type="password" ng-model="secret"/></div>
    </div>
    <div class="row" ng-show="searchType=='hashtag'">
        <div class="col-xs-4">Location:</div>
        <div class="col-xs-8">
            <span class="label label-success" ng-show="locm">Using Marker location</span>
            <span class="label label-warning" ng-show="!locm">Using Map center</span>
        </div>
    </div>
    <br/>
    <hr/>
    <br/>
    <a class="btn btn-sm btn-default pull-right" ng-click="getTrends()">Show Trends</a>
    <h4>Trending topics:</h4>
    <span ng-repeat="tr in trends">
        <a class="green spatied" ng-click="fillText(tr.topic)">{{tr.topic}}</a>
    </span>
    <hr/>
    <br/>
    <br/>
    <div class="row">
        <div class="col-xs-4">
            <button class="btn btn-default" ng-click="$dismiss()">Close</button>
        </div>
        <div class="col-xs-4"><span ng-show="waiting"><i class="fa fa-refresh fa-spin"></i> Waiting response...</span></div>
        <div class="col-xs-4">
            <button class="btn btn-success pull-right" ng-disabled="(location==null && searchType=='hashtag') || waiting" ng-click="twitterRequest()">Send Request</button>
        </div>
    </div>
</div>