<div class="modal-header">
    <h3 class="modal-title">Import data from Twitter <i class="fa fa-twitter"></i></h3>
</div>
<div class="modal-body">
    <span>Import most recent tweets from Twitter which match the keywords and are close to the selected point in the map.</span>
    <br/><br/>
    <div class="row">
        <div class="col-xs-4">Keywords:</div>
        <div class="col-xs-8"><input class="form-control input-sm" ng-model="twText"/></div>
    </div>
    <div class="row">
        <div class="col-xs-4">Secret key:</div>
        <div class="col-xs-8"><input class="form-control input-sm" type="password" ng-model="secret"/></div>
    </div>
    <div class="row">
        <div class="col-xs-4">Location:</div>
        <div class="col-xs-8">
            <span class="label label-success" ng-show="location!=null">Using Marker location</span>
            <span class="label label-danger" ng-show="location==null">No marker location found</span>
        </div>
    </div>
    <br/>
    <hr/>
    <br/>
    <a class="btn btn-sm btn-default pull-right" ng-click="getTrends()">Show Trends</a>
    <h4>Trending topics:</h4>
    <span ng-repeat="tr in trends">
        <a class="green spatied" ng-click="fillText(tr.topic)">{{tr.topic}}</a>
    </span>
    <hr/>
    <br/>
    <br/>
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4"><span ng-show="waiting"><i class="fa fa-refresh fa-spin"></i> Waiting response...</span></div>
        <div class="col-xs-4">
            <button class="btn btn-success pull-right" ng-disabled="location==null || waiting" ng-click="twitterRequest()">Send Request</button>
        </div>
    </div>
</div>