<div class="modal-header">
    <h3 class="modal-title">Users in this session</h3>
</div>
<div class="modal-body">
    <h4>Add more users:</h4>
    <hr/>
    <select id="modal-sesusers-select" class="form-control" ng-options="x.fullname for x in selectNotMembers()" ng-model="newMemb">
    </select>
    <br/>
    <hr/>
    <br/>
    <ul class="list-group">
        <li ng-repeat="user in selectMembers()" class="list-group-item">
            {{user.username}} - {{user.fullname}}
        </li>
    </ul>
</div>