<!DOCTYPE html>
<html ng-app="Feedback">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>Feedback</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/vis.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="shortcut icon" href="gpx/favicon.ico" type="image/x-icon">
    <script src="libs/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAx05l8YIv_oB8f5AMBGIcWmgnqFou0VJI&libraries=drawing,geometry,places"></script>
    <script src="libs/vis.min.js"></script>
    <script src="libs/jquery.textcomplete.min.js"></script>
    <script src="libs/linkify.min.js"></script>
    <script src="libs/linkify-html.min.js"></script>
    <script src="libs/angular.min.js"></script>
    <script src="libs/ui-bootstrap-tpls-1.1.2.min.js"></script>
    <script src="../socket.io/socket.io.js"></script>
    <script src="js/app.js"></script>
</head>
<body>
<div class="main-container" ng-controller="FeedbackController">

    <div class="row top-bar">
        <div class="col-xs-4">
            <img src="gpx/logo.png" alt="LOGO" class="logo"/>
            <strong class="session-title" ng-bind="sesinfo.name"></strong>
        </div>
        <div class="col-xs-6">
            <div class="input-group" ng-controller="SearchController">
                <input type="text" class="form-control" ng-model="simpleSearchBox" ng-keypress="($event.which === 13)?simpleSearch():0"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="restoreFeeds()"><i class="fa fa-times"></i></button>
                    <button class="btn btn-default" uib-popover-template="'templ/popover_search.html'" popover-placement="bottom-right" popover-is-open="advSearchOpen" ng-click="openAdvSearch()">
                        <i class="fa fa-sliders"></i>
                    </button>
                    <button class="btn btn-default" ng-show="twitterEnabled" ng-click="openTwitterModal()"><i class="fa fa-twitter"></i></button>
                    <button class="btn btn-default" ng-show="twitterEnabled" ng-click="getHistorySearches()" ng-class="{'active':historyOpened}"><i class="fa fa-clock-o"></i></button>
                    <button class="btn btn-default" ng-click="openDisChat()" ng-class="{'active':chatOpened}"><i class="fa fa-comments"></i></button>
                    <button class="btn btn-default" ng-click="simpleSearch()"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
        <div class="col-xs-2">
            <span uib-dropdown class="pull-right">
              <a class="btn btn-default" id="simple-dropdown" uib-dropdown-toggle>
                  <i class="fa fa-bars"></i>
              </a>
              <ul uib-dropdown-menu role="menu" aria-labelledby="simple-dropdown">
                  <li role="menuitem" ng-show="twitterEnabled"><a ng-click="openTwitterModal()">Import from Twitter</a></li>
                  <li role="menuitem" ng-show="twitterEnabled"><a ng-click="getHistorySearches()">View Search History</a></li>
                  <li role="menuitem"><a ng-click="openDisChat()">Discussion Chat</a></li>
                  <li role="menuitem"><a href="seslist">Change Session</a></li>
                  <li role="menuitem"><a href="logout">Log out</a></li>
              </ul>
            </span>
        </div>
    </div>

    <div class="row abs-full-height">
        <div class="col-sm-2 full-height scrollable no-padding-right simple-padding-left" ng-show="historyOpened">
            <h4><i class="fa fa-clock-o"></i> Search History</h4>
            <div ng-controller="HistoryListController">
                <ul class="list-group">
                    <li ng-repeat="item in orderHistory(items)" class="list-group-item">
                        <strong><a ng-click="setHighlights(fuzzyPlaces[item.wkt])">{{item.title}}</a></strong><br>
                        <span>{{item.geoloc}}</span>
                        Searches:
                        <ul class="simple-padding-left">
                            <li ng-repeat="d in item.dates"><a class="green" ng-click="highlightContent(d.date)">{{d.date | date:'d-MM-yyyy, HH:mm'}}</a> ({{d.cant}})</li>
                        </ul>
                        <a class="btn btn-default btn-sm" ng-click="resendSearch(item.id)">Re-send</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="full-height scrollable no-padding-right" ng-class="{'col-sm-3':historyOpened && !chatOpened || !historyOpened && chatOpened,
                    'col-sm-4':!historyOpened && !chatOpened, 'col-sm-2': historyOpened && chatOpened}">
            <div class="simple-padding" ng-controller="NewFeedController">
                <span class="label label-primary over-right" ng-class="{'label-danger':newFeed.com.length>140}">{{newFeed.com.length}}</span>
                <textarea id="new-feed-box" class="form-control" rows="3" ng-model="newFeed.com"></textarea>
                <div class="btn-group btn-group-justified">
                    <a class="btn btn-default full-width disabled"><i class="fa fa-picture-o"></i> Add Media</a>
                    <a class="btn btn-success" ng-disabled="newFeed.com.length>140 || newFeed.com.length<1" ng-click="publishFeed()">
                        <i class="fa fa-edit"></i> Publish
                    </a>
                </div>
            </div>
            <hr/>
            <div class="simple-padding">
                <div class="feed-box" ng-repeat="feed in feeds" ng-class="{highlight:(highlights.includes(feed.id))}" ng-click="highlightUnique(feed.id)">
                    <div class="row">
                        <span class="col-xs-6"><strong>{{getUsername(feed)}}</strong></span>
                        <span class="col-xs-6"><span class="pull-right gray">{{feed.time | date:'d-MM-yyyy HH:mm'}}</span></span>
                    </div>
                    <span class="feed-text" bind-html-compile="feed.prettyText"></span>
                    <span class="extra-box" ng-show="feed.extra!=null && highlights.length==1">
                        <a ng-click="shared.referenceMsg(feed.id)" class="text-primary">Reference message in chat.</a>
                        <br>
                        By {{feed.extra.split("|")[1]}} -
                        <a href="https://twitter.com/statuses/{{feed.extra.split('|')[0]}}" target="_blank">
                            <i class="fa fa-twitter"></i> View original tweet</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="full-height" ng-class="{'col-sm-7':historyOpened && !chatOpened || !historyOpened && chatOpened,
            'col-sm-8':!historyOpened && !chatOpened, 'col-sm-6': historyOpened && chatOpened}">
            <div class="mid-height" ng-controller="MapController">
                <div id="map"></div>
                <a class="map-btn absolute-right" ng-click="setMapDrawingMode(true)">
                    <i class="fa fa-close"></i>
                </a>
                <input type="text" id="pac-input">
            </div>
            <div class="mid-height" ng-controller="GraphController">
                <div id="graph"></div>
                <div class="graph-ov-btn graph-descr" ng-show="detailBox.show">
                    <a class="btn btn-white btn-xs" ng-show="detailBox.expandible" ng-click="appendCat()"><i class="fa fa-expand"></i></a>
                    <a class="btn btn-white btn-xs" ng-show="detailBox.expandible && twitterEnabled" ng-click="searchFromTw()"><i class="fa fa-twitter"></i></a>
                    <a class="btn btn-white btn-xs" ng-show="!detailBox.expandible" ng-click="removeItem()"><i class="fa fa-trash"></i></a>
                </div>
                <div class="graph-ov-btn graph-zoom">
                    <a class="btn btn-white btn-xs" ng-click="graphCenter()"><i class="fa fa-compass"></i></a>
                    <hr/>
                    <a class="btn btn-white btn-xs" ng-click="graphZoom(3/2)"><i class="fa fa-plus"></i></a>
                    <hr/>
                    <a class="btn btn-white btn-xs" ng-click="graphZoom(2/3)"><i class="fa fa-minus"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-2 full-height scrollable padding-0" ng-show="chatOpened" ng-controller="ChatController">
            <h4 class="chat-header"><i class="fa fa-comments"></i> Discussion Chat</h4>
            <div class="chat-container">
                <div class="chat-box" ng-repeat="chat in chatMsgs">
                    <strong ng-bind="chat.author"></strong>
                    <p bind-html-compile="chat.prettyContent"></p>
                </div>
            </div>
            <div class="input-group chat-input">
                <textarea class="form-control" ng-model="newMsg"></textarea>
                <a class="input-group-addon btn btn-default" ng-click="sendChatMsg()">
                    <i class="fa fa-send"></i>
                </a>
            </div>
        </div>
    </div>


</div>
</body>
</html>
