<!DOCTYPE html>
<html ng-app="SesList">
<head>
    <meta charset="UTF-8">
    <title>Feedback</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <script src="libs/jquery.min.js"></script>
    <script src="libs/angular.min.js"></script>
    <script src="libs/ui-bootstrap-tpls-1.1.2.min.js"></script>
    <script src="js/seslistapp.js"></script>
</head>
<body class="bg-green">

<div class="container" ng-controller="SesListController">

    <h2>Select a session to start</h2>
    <hr/>
    <button class="btn btn-success form-control" ng-click="toggleOpen()">Add New Session</button>
    <br/>
    <div ng-show="newsesopen">
        <div>
            <label>Name:</label>
            <input type="text" class="form-control" ng-model="newses.name"/>
            <label>Description:</label>
            <textarea rows="3" class="form-control" ng-model="newses.descr"></textarea>
            <br/>
            <button class="btn btn-success form-control" ng-click="addNewSession()">Add</button>
        </div>
    </div>
    <br/>
    <hr/>
    <br/>
    <div class="list-group">
        <a href="./set-session?ses={{ses.id}}" class="list-group-item" ng-repeat="ses in sessions">
            <button class="btn btn-default pull-right" ng-click="openUsers(ses.id,$event)">Users</button>
            <h4 class="list-group-item-heading">{{ses.name}}</h4>
            <p class="list-group-item-text">{{ses.descr}}</p>
        </a>
    </div>


</div>

</body>
</html>