*{
    padding: 0;
    margin: 0;
    /*transition: width 0.4s;*/
}

html{
    height: 100%;
}

body{
    font-family: Helvetica, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #e0e0e0;
}

a{
    cursor: pointer;
    color: #000;
}

hr{
    margin: 0;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0,0,0,0.2);
}

.main-container{
    margin: 0 auto;
    height: 100vh;
    overflow: hidden;
    display: block;
    width: 100%;
}

.top-bar{
    background: #349746;
    height: 40px;
    padding: 2px;
}

.abs-full-height{
    position: absolute;
    top: 40px;
    bottom: 0;
    width: 100%;
}


.full-height{
    height: 100%;
}

.full-width{
    width: 100%;
}

.mid-height{
    height: 50%;
}

.bordered{
    border: 1px solid #555555;
}

.simple-padding{
    padding: 5px;
}

.no-padding-right{
    padding-right: 0;
}

.feed-box{
    display: block;
    width: 100%;
    min-height: 60px;
    border: 1px solid #999999;
    padding: 4px;
    margin-bottom: -1px;
    background-color: #eeeeee;
}

.feed-box.highlight{
    border: 1px solid #222222;
    background-color: #ceffd2;
}

.feed-box .extra-box{
    display: none;
    text-align: right;
}

.feed-box.highlight .extra-box{
    display: block;
}

.extra-box a{
    color: #666;
}

.angular-google-map{
    width: 300px;
    height: 200px;
    display: block;
}

.logo{
    display: inline-block;
    margin-left: 30px;
    margin-right: 16px;
}

.scrollable{
    overflow-x: hidden;
    overflow-y: auto;
}

#graph{
    display: block;
    width: 100%;
    height: 100%;
    background: #f4f4f4;
}

#map{
    display: block;
    width: 100%;
    height: 100%;
}

.gray{
    color: #999999;
}

.over-right{
    position: absolute;
    right: 0;
}

body.bg-green{
    background: #328742;
    height: 100%;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    height: 100%;
    display: block;
    background: #f3f3f3;
    box-shadow: #333333 0 0 20px 8px;
}

.middle-box{
    max-width: 320px;
    display: block;
    padding: 4px 24px 20px 24px;
    border-bottom: 4px solid #aaaaaa;
    background: #f3f3f3;
    margin: 20px auto;
    text-align: center;
}

a.green{
    color: #008800;
}

a.spatied{
    display: inline-block;
    margin-right: 8px;
}

a.green:hover{
    color: #00c523;
}

a.absolute-right {
    position: absolute;
    right: 68px;
    top: 5px;
    display: block;
}
a.map-btn {
    background-color: #ffffff;
    box-shadow: #999999 -1px 1px 4px;
    color: #666666;
    width: 24px;
    height: 24px;
    padding: 1px 6px;
}

.popover{
    max-width: 600px;
}

.advsearch{
    width: 500px;
}

.advsearch .row{
    margin-top: 2px;
}

.ng-invalid{
    border: 1px solid red;
}

.as-label{
    margin-top: 4px;
}

.graph-ov-btn{
    background-color: #ffffff;
    box-shadow: #999999 0 1px 4px;
    color: #666666;
    padding: 1px 4px;
    border-radius: 4px;
}

.graph-descr{
    position: absolute;
    right: 24px;
    top: 51%;
    width: 28px;
    padding: 4px;
    /*height: 28px;*/
}

.graph-zoom{
    position: absolute;
    right: 24px;
    bottom: 5px;
    width: 28px;
    height: 74px;
    padding: 4px;
}

.respect-line-breaks{
    white-space: pre-wrap;
}

.simple-padding-left{
    padding-left: 24px;
}

#pac-input{
    margin: 8px 4px;
    padding: 8px;
    font-size: 120%;
    border: none;
    box-shadow: #999 1px 1px 4px;
}

.session-title{
    max-width: calc(100% - 200px);
    display: inline-block;
    color: white;
    font-size: 120%;
    padding-top: 6px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.chat-container{
    height: calc(100% - 84px);
    overflow: auto;
}

.chat-header{
    margin: 4px 0;
    height: 18px;
    display: block;
    font-size: 110%;
}

.chat-box{
    border: 1px solid #999;
    background: #fbfbfb;
    border-radius: 8px;
    padding: 4px 8px;
    margin: 4px;
}

.chat-box strong{
    display: block;
}

.chat-input{
    height: 56px;
}

.chat-input textarea{
    resize: none;
    height: 100%;
}

.padding-0{
    padding: 0;
}